---
import Layout from '../layouts/Layout.astro';
import DemandManagement from '../components/DemandManagement';
---

<Layout title="Demand Management - SecMan">
  <main>
    <DemandManagement client:load />
  </main>
</Layout>