---
import PublicLayout from '../layouts/PublicLayout.astro';
import PublicClassification from '../components/PublicClassification';
---

<PublicLayout title="Demand Classification">
  <main>
    <PublicClassification client:load />
  </main>
</PublicLayout>