---
import Layout from '../../layouts/Layout.astro';
import EmailConfigManagement from '../../components/EmailConfigManagement.tsx';
---

<Layout title="Email Configuration Management">
  <EmailConfigManagement client:load />

  <div class="container-fluid p-4">
    <div class="mt-4">
      <a href="/admin" class="btn btn-secondary">
        <i class="bi bi-arrow-left me-2"></i>
        Back to Admin
      </a>
    </div>
  </div>
</Layout>
