---
import Layout from '../../layouts/Layout.astro';
import RequirementsAdmin from '../../components/RequirementsAdmin';
---

<Layout title="Admin - Requirements Management">
    <RequirementsAdmin client:load />
    <div class="mt-4">
      <a href="/admin" class="btn btn-secondary">Back to Admin</a>
    </div>
</Layout>