---
/**
 * System Vulnerabilities Page
 *
 * CrowdStrike Falcon API integration for real-time system vulnerability lookup
 *
 * Related to: Feature 015-we-have-currently (CrowdStrike System Vulnerability Lookup)
 * Task: T037 [US1-Impl]
 */
import Layout from '../../layouts/Layout.astro';
---

<Layout title="System Vulnerabilities - CrowdStrike Lookup">
    <div id="crowdstrike-root"></div>
</Layout>

<script>
    import('../../components/CrowdStrikeVulnerabilityLookup.tsx').then(module => {
        const CrowdStrikeVulnerabilityLookup = module.default;
        import('react').then(React => {
            import('react-dom/client').then(ReactDOM => {
                const root = ReactDOM.createRoot(document.getElementById('crowdstrike-root'));
                root.render(React.createElement(CrowdStrikeVulnerabilityLookup));
            });
        });
    });
</script>
